<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<connectionStrings>
	<!--	<add name="WebComSciDBConnectionString" connectionString="Data Source=BEER-PC\SA;Initial Catalog=WebComSciDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString" connectionString="Data Source=POOM_MON-PC\POOM;Initial Catalog=WebComSciDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

</configuration>
