 .nodeLevel1
{
    background-position: center;
    font: 20px Tahoma;
    background-image: url('../../image/Plan/HeadMenu.png');
    background-repeat: no-repeat;
    width: 195px;
    height: 44px;
    padding-left: 15px;
    color: #FF0066;
}
  .nodeLevel2
{
    background-position: center;
    font: 12px Tahoma;
    color: #FFFFFF;
    padding-left: 10px;
    background-repeat: no-repeat;
    width: 130px;
    height: 35px;
    background-image: url('../../image/Plan/HeadMenu3.png');
    font-weight: bold;
}
          