<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
         <!--    <add name="WEBCSDBConnectionString" connectionString="Data Source=122.155.0.74\MSSQLSERVER2008,49173;Initial Catalog=WEBCSDB;Persist Security Info=True;User ID=sa;Password=@mkspwd1"
            providerName="System.Data.SqlClient" />
		   <add name="WebComSciDBConnectionString" connectionString="Data Source=POOM_MON-PC\POOM;Initial Catalog=WebComSciDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->

      <!--<add name="WEBCSDBConnectionString" connectionString="Data Source=POOM_MON-PC\POOM;Initial Catalog=WEBCSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->

      <add name="WEBCSDBConnectionString" connectionString="Data Source=.;Initial Catalog=WEBCSDB;Persist Security Info=True;User ID=sa;Password=pass@word1"
                  providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

	<appSettings>
		<add key="SMTP" value="smtp.gmail.com"/>
		
		<add key="FROMEMAIL" value="Rmutto.Cpc.CS@gmail.com"/>
		<add key="FROMPWD" value="RmuttoCSwebsite"/>
	<!--	<add key="FROMEMAIL" value="sittiporn.jan@gmail.com"/>
		<add key="FROMPWD" value="poom35996"/>-->
	</appSettings>



	<system.web>
		<httpRuntime executionTimeout="240" maxRequestLength="10485760" />
	</system.web>
	<location path="Upload">
		<system.web>
			<httpRuntime executionTimeout="110" maxRequestLength="10485760" />
		</system.web>
	</location>
</configuration>
